{# {% extends 'layout.njk' %} #}
{% block content %}
<div>this is content block</div>

{% block top %}
{% include 'b.njk' %}

{% if flag === 1 %}
<div>flag = false </div>
{% else %}
<div>flag = true</div>
{% endif %}



{% endblock %}



{% endblock %}
